@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Welcome</h1>
        <br />
        <p>This is a Site for anything from looking up Weapons and BloodCodes to creating and sharing your own Builds.</p><br />
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <div id="name"><a href="../Build/GetBuildStyle/Fighter"></a>Fighter</div>
    </div>
    <div class="col-md-4">
        <div id="name1"><a href="../Build/GetBuildStyle/Ranger"></a>Ranger</div>
    </div>
    <div class="col-md-4">
        <div id="name2"><a href="../Build/GetBuildStyle/Caster"></a>Caster</div>
    </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Fighter Builds</h2>
            <p>
               Builds Based around a Fighter style bloodcode
            </p>
        </div>
        <div class="col-md-4">
            <h2>Ranger Builds</h2>
            <p>Builds Based around a Ranger style bloodcode</p>
        </div>
        <div class="col-md-4">
            <h2>Caster Builds</h2>
            <p>Builds Based around a Caster style bloodcode</p>
        </div>
    </div>
